
<div class="auth-page">
    <div class="container page">
        <div class="row">

            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Sign in</h1>
                <p class="text-xs-center">
                    <a routerLink="/register" routerLinkActive="active">Do not have an account?</a>
                </p>

                <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
                    <fieldset class="form-group">
                        <input formControlName="userEmail" class="form-control form-control-lg" type="text" placeholder="Email">
                    </fieldset>
                    <div *ngIf="userEmail?.invalid" class="alert alert-danger">
                        <div *ngIf="userEmail?.errors?.['required']">
                            Email is required.
                        </div>
                        <div *ngIf="userEmail?.errors?.['minlength']">
                            Email must be at least 10 characters long.
                        </div>
                        <div *ngIf="userEmail?.errors?.['maxLength']">
                            Email must be maximum 100 characters long.
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <input formControlName="userPassword" class="form-control form-control-lg" type="password" placeholder="Password">
                    </fieldset>
                    <div *ngIf="userPassword?.invalid" class="alert alert-danger">
                        <div *ngIf="userPassword?.errors?.['required']">
                            Password is required.
                        </div>
                        <div *ngIf="userPassword?.errors?.['minlength']">
                            Password must be at least 16 characters long.
                        </div>
                        <div *ngIf="userPassword?.errors?.['maxLength']">
                            Password must be maximum 25 characters long.
                        </div>
                    </div>
                    <button (click)="onSubmit()" [disabled]="loginFormGroup.invalid" type="submit" class="btn btn-lg btn-primary pull-xs-right">
                        Sign in
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>